extends layout

block append body
    .container.theme-showcase(role='main')
        center
            img(src='/static/images/mdl.png')


        .page-header
            if (!user)
                center
                    h3 Bienvenue !!

            else
                center
                    h3 Bienvenue #{user.username}